@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&family=Sriracha&display=swap');
:root{
    --cor0:#A6A6A6;
    --cor1:#8C8C8C;
    --cor2:#595959;
    --cor3:#262626;
    --cor4:#0D0D0D;

    --fonte1: 'Sriracha', cursive;
    --fonte2: 'Playfair Display SC', serif;
}